statemachine/bathy_order_processor.asl.json
{
  "Comment": "orchestrate the processing steps for a bathymetry data request",
  "StartAt": "insert order records into database",
  "States": {
    "insert order records into database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.input %}",
      "Arguments": {
        "FunctionName": "${InsertOrderRecordsFunction}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "for each dataset",
      "Assign": {
        "order_id": "{% $states.input.order_id %}",
        "bbox": "{% $states.input.bbox %}",
        "input": "{% $states.context.Execution.Input %}"
      }
    },
    "for each dataset": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "what type of dataset?",
        "States": {
          "what type of dataset?": {
            "Type": "Choice",
            "Choices": [
              {
                "Next": "Multibeam Catalog Query",
                "Condition": "{% $states.input.label = 'multibeam' %}"
              },
              {
                "Next": "format CSB query",
                "Condition": "{% $states.input.label = 'csb' %}"
              }
            ],
            "Default": "Unknown Dataset"
          },
          "format CSB query": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
              "FunctionName": "${FormatPointQueryFunction}",
              "Payload": {
                "bbox": "{% $bbox %}",
                "dataset": "{% $states.input %}",
                "order_id": "{% $order_id %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Next": "start CSB query",
            "Assign": {
              "dataset": "{% $states.input %}"
            }
          },
          "start CSB query": {
            "Type": "Task",
            "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
            "Arguments": {
              "QueryString": "{% $states.input.query_string %}",
              "WorkGroup": "primary",
              "ResultConfiguration": {
                "OutputLocation": "{% $states.input.output_location%}"
              }
            },
            "Next": "update CSB record",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "Dataset Error"
              }
            ]
          },
          "update CSB record": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
              "FunctionName": "${UpdateDatasetRecordFunction}",
              "Payload": {
                "order_id": "{% $order_id %}",
                "status": "complete",
                "label": "{% $dataset.label %}",
                "output_location": "{% $states.input.QueryExecution.ResultConfiguration.OutputLocation %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          },
          "Multibeam Catalog Query": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Arguments": {
              "FunctionName": "${MultibeamCatalogFunction}",
              "Payload": {
                "TaskToken": "{% $states.context.Task.Token %}",
                "order_id": "{% $order_id %}",
                "bbox": "{% $bbox %}",
                "dataset": "{% $states.input %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "Dataset Error"
              }
            ],
            "Next": "update multibeam record",
            "Assign": {
              "dataset": "{% $states.input %}"
            }
          },
          "update multibeam record": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
              "FunctionName": "${UpdateDatasetRecordFunction}",
              "Payload": {
                "order_id": "{% $order_id %}",
                "status": "complete",
                "label": "{% $dataset.label %}",
                "output_location": "{% $states.input.output_location %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          },
          "Dataset Error": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
              "FunctionName": "${DatasetErrorHandlerFunction}",
              "Payload": "{% $states.input %}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          },
          "Unknown Dataset": {
            "Type": "Pass",
            "End": true,
            "Assign": {
              "dataset": "{% $states.input %}"
            }
          }
        }
      },
      "Items": "{% $states.input.datasets %}",
      "Next": "confirm datasets are ready"
    },
    "confirm datasets are ready": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${VerifyDatasetStatusFunction}",
        "Payload": {
          "order_id": "{% $order_id %}",
          "datasets": "{% $states.input %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "create grid?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "error preparing datasets",
          "Next": "notify user of error",
          "Output": {
            "input": "{% $states.context.Execution.Input %}",
            "status": "failure"
          }
        }
      ]
    },
    "notify user of error": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${NotifyUserFunction}",
        "Payload": {
          "sampleKey1": "sampleValue1",
          "key2": "{% $states.input.key %}",
          "key3": 100
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    },
    "create grid?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "request grid",
          "Condition": "{% $exists($states.context.Execution.Input.grid) %}"
        }
      ],
      "Default": "update order record",
      "Output": {
        "order_id": "{% $order_id %}",
        "output_location": "{% $single($states.input.datasets, function($v, $i, $a) { $v.label = 'csb'}).output_location %}"
      }
    },
    "request grid": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Arguments": {
        "MessageBody": {
          "order_id": "{% $order_id %}",
          "TaskToken": "{% $states.context.Task.Token %}",
          "grid": "{% $states.context.Execution.Input.grid %}",
          "bbox": "{% $bbox %}",
          "datasets": "{% $states.input.datasets %}"
        },
        "QueueUrl": "${GridDataQueueUrl}"
      },
      "Next": "update order record"
    },
    "update order record": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${UpdateOrderRecordFunction}",
        "Payload": {
          "order_id": "{% $order_id %}",
          "output_location": "{% $states.input.output_location %}",
          "status": "complete"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "notify user of success",
      "Output": {
        "order_id": "{% $order_id %}",
        "output_location": "{% $states.input.output_location %}",
        "input": "{% $input %}",
        "status": "success"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "notify user of error",
          "Output": {
            "input": "{% $states.context.Execution.Input %}",
            "status": "failure"
          }
        }
      ]
    },
    "notify user of success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${NotifyUserFunction}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}