statemachine/bathy_order_processor.asl.json
{
  "Comment": "orchestrate the processing steps for a bathymetry data request",
  "StartAt": "insert order record into database",
  "States": {
    "insert order record into database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${InitializeOrderRecordFunctionArn}"
      },
      "Retry": [{
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
      }],
      "ResultPath": null,
      "Next": "Foreach_Dataset"
    },
    "Foreach_Dataset": {
      "Type": "Map",
      "Iterator": {
        "StartAt": "Dataset_Type",
        "States": {
          "Dataset_Type": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.label",
                "StringEquals": "csb",
                "Next": "insert CSB record into database"
              },
              {
                "Variable": "$.label",
                "StringEquals": "multibeam",
                "Next": "Initialize MB Record"
              }
            ]
          },
          "insert CSB record into database": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "${OrderTrackingTable}",
              "Item": {
                "PK": {
                  "S.$": "States.Format('ORDER#{}', $$.Execution.Input.order_id)"
                },
                "SK": {
                  "S.$": "States.Format('DATASET#{}', $.label)"
                },
                "other": {
                  "M.$": "$"
                }
              }
            },
            "ResultPath": null,
            "Next": "FormatPointQuery",
            "Comment": "insert dataset record into order tracking database"
          },
          "Initialize MB Record": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "Payload": {
                "dataset.$": "$",
                "order_id.$": "$$.Execution.Input.order_id"
              },
              "FunctionName": "arn:aws:lambda:us-east-1:282856304593:function:bathy-app-test-InitializeDatasetRecordFunction-SDdqD56t7H4w:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Next": "Query Multibeam Catalog"
          },
          "FormatPointQuery": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload": {
                "dataset.$": "$",
                "bbox.$": "$$.Execution.Input.bbox"
              },
              "FunctionName": "${FormatPointQueryFunctionArn}"
            },
            "Retry": [{
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
            }],
            "OutputPath": "$.Payload",
            "Next": "Start Point Extract"
          },
          "Start Point Extract": {
            "Type": "Task",
            "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
            "Parameters": {
              "QueryString.$": "$.QUERY_STRING",
              "WorkGroup": "primary",
              "ResultConfiguration": {
                "OutputLocation": "${AthenaOutputBucket}"
              }
            },
            "ResultSelector": {
              "QueryExecutionId.$": "$.QueryExecution.QueryExecutionId",
              "OutputLocation.$": "$.QueryExecution.ResultConfiguration.OutputLocation"
            },
            "ResultPath": "$.TaskResult",
            "Next": "Update CSB Record"
          },
          "Update CSB Record": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${UpdateDatasetRecordFunctionArn}",
              "Payload": {
                "order_id.$": "$$.Execution.Input.order_id",
                "type.$": "$.dataset.label",
                "output_location.$": "$.TaskResult.OutputLocation",
                "status": "complete"
              }
            },
            "Retry": [{
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
            }],
            "ResultSelector": {
              "Input.$": "$$.Execution.Input"
            },
            "OutputPath": "$.Input",
            "End": true
          },
          "Query Multibeam Catalog": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
            "HeartbeatSeconds": 60,
            "Parameters": {
              "MessageBody": {
                "query_params.$": "$",
                "order_id.$": "$$.Execution.Input.order_id",
                "bbox.$": "$$.Execution.Input.bbox",
                "TaskToken.$": "$$.Task.Token"
              },
              "QueueUrl": "${MultibeamCatalogQueueUrl}"
            },
            "ResultPath": "$.TaskResult",
            "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.TaskResult",
                "Next": "Dataset Error"
            }],
            "Next": "Update Multibeam Record",
            "Comment": "query external catalog and wait for response"
          },
          "Dataset Error": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${DatasetErrorHandlerFunctionArn}",
              "Payload": {
                "order_id.$": "$$.Execution.Input.order_id",
                "type.$": "$.label",
                "body.$": "$.TaskResult",
                "status": "error"
              }
            },
            "Retry": [{
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
            }],
            "ResultSelector": {
              "Input.$": "$$.Execution.Input"
            },
            "OutputPath": "$.Input",
            "End": true
          },
          "Update Multibeam Record": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${UpdateDatasetRecordFunctionArn}",
              "Payload": {
                "order_id.$": "$$.Execution.Input.order_id",
                "type.$": "$.label",
                "body.$": "$.TaskResult",
                "output_location.$": "$.TaskResult.output_location",
                "status": "complete"
              }
            },
            "Retry": [{
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
            }],
            "ResultSelector": {
              "Input.$": "$$.Execution.Input"
            },
            "OutputPath": "$.Input",
            "End": true
          }
        }
      },
      "ItemsPath": "$.datasets",
      "Next": "Verify Dataset Status"
    },
    "Verify Dataset Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${VerifyDatasetStatusFunctionArn}",
        "Payload": {
          "order_id.$": "$$.Execution.Input.order_id"
        }
      },
      "Retry": [{
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Order Error"
      }],
      "ResultSelector": {
        "Input.$": "$$.Execution.Input"
      },
      "OutputPath": "$.Input",
      "Next": "Create Grid?"
    },
    "Order Error": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${OrderErrorHandlerFunctionArn}",
        "Payload": {
          "Error.$": "States.StringToJson($.Cause)",
          "order_id.$": "$$.Execution.Input.order_id",
          "status": "error"
        }
      },
      "Retry": [{
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
      }],
      "ResultSelector": {
        "Input.$": "$$.Execution.Input"
      },
      "OutputPath": "$.Input",
      "Next": "Notify User"
    },
    "Create Grid?": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.grid",
            "IsPresent": true
          },
          "Next": "Notify User"
        },
        {
          "Variable": "$.grid",
          "IsPresent": true,
          "Next": "Request Grid"
        }
      ]
    },
    "Notify User": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "${OrderNotificationQueueUrl}",
        "MessageBody": {
          "email.$": "$.email",
          "order_id.$": "$.order_id"
        }
      },
      "End": true
    },
    "Request Grid": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
            "HeartbeatSeconds": 10800,
            "Parameters": {
              "MessageBody": {
                "order_id.$": "$$.Execution.Input.order_id",
                "TaskToken.$": "$$.Task.Token"
              },
              "QueueUrl": "${GridDataQueueUrl}"
            },
            "ResultPath": "$.TaskResult",
            "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.TaskResult",
                "Next": "Order Error"
            }],
            "Next": "Notify User",
            "Comment": "enqueue request for grid generation"
          }
  }
}